@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 200 6.67% 91.18%;
    --card: 228 9.8% 10%;
    --card-foreground: 0 0% 85.1%;
    --popover: 0 0% 0%;
    --popover-foreground: 200 6.67% 91.18%;
    --primary: 203.89 88.28% 53.14%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200 1.96% 95.1%;
    --secondary-foreground: 210 25% 7.84%;
    --muted: 0 0% 9.41%;
    --muted-foreground: 210 3.39% 46.27%;
    --accent: 205.71 70% 7.84%;
    --accent-foreground: 203.89 88.28% 53.14%;
    --destructive: 356.3 90.56% 54.31%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 5.26% 14.9%;
    --input: 207.69 27.66% 18.43%;
    --ring: 202.82 89.12% 53.14%;
    --chart-1: 203.89 88.28% 53.14%;
    --chart-2: 159.78 100% 36.08%;
    --chart-3: 42.03 92.83% 56.27%;
    --chart-4: 147.14 78.5% 41.96%;
    --chart-5: 341.49 75.2% 50.98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
